body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif , Arial, sans-serif;
    background: linear-gradient(to right, rgb(252, 233, 163) 10%, rgb(246, 160, 207) 80%); /* Adjust colors as needed */

}

header {
    background-color: #f57e69;
    padding: 10px 0;
    padding-left: 150px;
}

nav {
    display: flex;
    justify-content: space-between; /* Add space between items */
    align-items: center; /* Center items vertically */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Center items vertically */
}

.navbar li {
    margin: 0 65px;
}

.navbar a {
    text-decoration: none;
    color: rgb(15, 14, 14);
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #ffcc00; /* Change color on hover */
}

.menu-icon img {
    width: 24px; /* Adjust the size of the menu icon */
    cursor: pointer; /* Add cursor pointer on hover */
}


.navbar li:last-child {
    flex-grow: 9;
}


.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content {
    flex: 1;
    padding: 20px;
    max-width: 500px;
    padding-left: 100px;
    margin-right: 100px;
}
.content img,
.sidebar img {
    width: 100%;
    height: auto;
}

.sidebar {
    width: 55%;
    height: 500%;
    box-sizing: border-box;
    margin-left: 20px;
}

.sidebar img {
    max-width: 100%;
    max-height: 1000px;

}

.content, h6 {
    font-size: 50px;
}

.content, p{
    font-size: 20px;
    margin-bottom: 50px;
}

.click-me-button {
    padding: 12px 65px;
    font-size: 16px;
    background-color: #f57e69;
    width: 250px;
    height: 100px;
    color: white;
    border: 1px;
    border-radius: 1px;
    cursor: pointer;
    text-decoration: none; /* Remove underline */

}

.click-me-button:hover {
    background-color: #ba6859;
    color: white;
}




/* Tablet */
@media only screen and (max-width: 768px) {
    .content {
        max-width: 100%;
        font-size: 20px;
    }

    .sidebar {
        flex: 1;
        max-width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .content,
    .sidebar {
        max-width: 100%;
        font-size: 18px;
    }
}